@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway:200|Share+Tech+Mono");
/* line 3, ../scss/_language-selector.scss */
#language-selector {
  position: fixed;
  top: 3.5%;
  z-index: 1050;
  right: 15%; }

/* line 9, ../scss/_language-selector.scss */
.background--on {
  background: white;
  -webkit-transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

/* line 13, ../scss/_language-selector.scss */
.toggle-body {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 5rem;
  height: 2.5rem;
  background: red;
  border-radius: 2rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: background-color 0.25s ease, -webkit-transform 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: background-color 0.25s ease, -webkit-transform 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: transform 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35), background-color 0.25s ease;
  transition: transform 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35), background-color 0.25s ease, -webkit-transform 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

/* line 22, ../scss/_language-selector.scss */
.toggle-body--on {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

/* line 26, ../scss/_language-selector.scss */
.toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 2rem / 2);
  left: calc(27% - 2rem / 2);
  background-image: url("./images/flag-icons/eng-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 130% 115%;
          transform-origin: 130% 115%;
  -webkit-transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

/* line 41, ../scss/_language-selector.scss */
.toggle-btn--on {
  -webkit-transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  background: white;
  -webkit-transform-origin: 130% 150%;
          transform-origin: 130% 150%;
  background-image: url("./images/flag-icons/esp-icon.png");
  background-repeat: no-repeat;
  background-size: cover; }

/* line 50, ../scss/_language-selector.scss */
.toggle-btn--on {
  -webkit-transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  background: white;
  -webkit-transform-origin: 130% 150%;
          transform-origin: 130% 150%;
  background-image: url("./images/flag-icons/esp-icon.png");
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 767.98px) {
  /* line 60, ../scss/_language-selector.scss */
  #language-selector {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8); }

  right: 10%; }
/* line 65, ../scss/_language-selector.scss */
#other-language {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-family: "Raleway", sans-serif;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease; }

/* line 75, ../scss/_language-selector.scss */
.odd-section-language-selector-colors {
  background-color: white; }
  /* line 77, ../scss/_language-selector.scss */
  .odd-section-language-selector-colors #other-language {
    color: red; }

/* line 18, ../scss/_mobile-nav.scss */
.mobile-menu-container {
  background-color: black;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  position: fixed;
  width: 300px;
  height: 300px;
  left: 50%;
  bottom: calc(-120px * 1.5);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 100; }
  /* line 30, ../scss/_mobile-nav.scss */
  .mobile-menu-container.mobile-full-menu {
    border-radius: 0;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: calc(0px * 1.5);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1); }

/* line 41, ../scss/_mobile-nav.scss */
.mobile-full-menu .mobile-menu {
  top: 0;
  left: 40px; }

/* line 47, ../scss/_mobile-nav.scss */
.mobile-menu {
  color: white;
  font-size: 3.5em;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 101;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  /* line 57, ../scss/_mobile-nav.scss */
  .mobile-menu i {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: red; }
    /* line 63, ../scss/_mobile-nav.scss */
    .mobile-menu i:hover {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }

/* line 73, ../scss/_mobile-nav.scss */
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden; }
  /* line 83, ../scss/_mobile-nav.scss */
  .mobile-overlay.mobile-open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 100; }
    /* line 89, ../scss/_mobile-nav.scss */
    .mobile-overlay.mobile-open li {
      -webkit-animation: fadeInRight .5s ease forwards;
              animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
              animation-delay: .35s; }
      /* line 93, ../scss/_mobile-nav.scss */
      .mobile-overlay.mobile-open li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
                animation-delay: .4s; }
      /* line 97, ../scss/_mobile-nav.scss */
      .mobile-overlay.mobile-open li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
                animation-delay: .45s; }
      /* line 101, ../scss/_mobile-nav.scss */
      .mobile-overlay.mobile-open li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
                animation-delay: .50s; }
  /* line 107, ../scss/_mobile-nav.scss */
  .mobile-overlay nav {
    font-size: 3.2em;
    font-family: "Raleway", san-serif;
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-weight: 400;
    text-align: center; }
  /* line 117, ../scss/_mobile-nav.scss */
  .mobile-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    /* line 125, ../scss/_mobile-nav.scss */
    .mobile-overlay ul li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      /* line 133, ../scss/_mobile-nav.scss */
      .mobile-overlay ul li a {
        display: block;
        position: relative;
        color: white;
        text-decoration: none;
        overflow: hidden;
        opacity: 0.7;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        /* line 143, ../scss/_mobile-nav.scss */
        .mobile-overlay ul li a:hover, .mobile-overlay ul li a:focus, .mobile-overlay ul li a:active {
          opacity: 1;
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    top: 0;
    left: 40px; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    top: 0;
    left: 40px; }
  100% {
    opacity: 1;
    left: 0; } }
/* line 168, ../scss/_mobile-nav.scss */
.odd-section-mobile-menu-colors {
  color: white !important; }

@media (min-width: 900px) {
  /* line 172, ../scss/_mobile-nav.scss */
  .mobile-menu-container {
    display: none; } }
@media (max-height: 700px) {
  /* line 178, ../scss/_mobile-nav.scss */
  .mobile-overlay li {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75); }

  /* line 182, ../scss/_mobile-nav.scss */
  .hide-fullstack {
    display: none; } }
/* line 15, ../scss/_desktop-nav.scss */
.desktop-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.75rem;
  background-color: black;
  -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: width;
  z-index: 99;
  cursor: pointer; }
  /* line 25, ../scss/_desktop-nav.scss */
  .desktop-nav *,
  .desktop-nav *:before,
  .desktop-nav *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  /* line 30, ../scss/_desktop-nav.scss */
  .desktop-nav.desktop-is-active {
    width: 100%; }
  /* line 33, ../scss/_desktop-nav.scss */
  .desktop-nav a {
    color: black;
    text-decoration: none; }

/* line 39, ../scss/_desktop-nav.scss */
.desktop-nav-trigger {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: -10px;
  padding: 8px 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 10; }
  /* line 48, ../scss/_desktop-nav.scss */
  .desktop-nav-trigger .desktop-bars {
    position: relative; }
    /* line 50, ../scss/_desktop-nav.scss */
    .desktop-nav-trigger .desktop-bars, .desktop-nav-trigger .desktop-bars:before, .desktop-nav-trigger .desktop-bars:after {
      width: 28px;
      height: 4px;
      background-color: red;
      border-radius: 4px;
      -webkit-transition: background-color 0.25s ease, -webkit-transform 0.2s ease-in-out;
      transition: background-color 0.25s ease, -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, background-color 0.25s ease;
      transition: transform 0.2s ease-in-out, background-color 0.25s ease, -webkit-transform 0.2s ease-in-out; }
    /* line 59, ../scss/_desktop-nav.scss */
    .desktop-nav-trigger .desktop-bars:before, .desktop-nav-trigger .desktop-bars:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      will-change: transform; }
    /* line 68, ../scss/_desktop-nav.scss */
    .desktop-nav-trigger .desktop-bars:before {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px); }
    /* line 71, ../scss/_desktop-nav.scss */
    .desktop-nav-trigger .desktop-bars:after {
      -webkit-transform: translateY(8px);
              transform: translateY(8px); }
  /* line 75, ../scss/_desktop-nav.scss */
  .desktop-nav-trigger.desktop-is-active {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    /* line 78, ../scss/_desktop-nav.scss */
    .desktop-nav-trigger.desktop-is-active .desktop-bars:before, .desktop-nav-trigger.desktop-is-active .desktop-bars:after {
      -webkit-transform: translateX(0) rotate(-90deg);
              transform: translateX(0) rotate(-90deg); }

/* line 85, ../scss/_desktop-nav.scss */
.desktop-nav-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 3.75rem 1rem 2.75rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0s linear 0.25s;
  transition: 0s linear 0.25s; }
  /* line 96, ../scss/_desktop-nav.scss */
  .desktop-nav-content.desktop-is-active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0s linear;
    transition: 0s linear; }
    /* line 101, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-item a {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transition-property: opacity, color, -webkit-transform;
      transition-property: opacity, color, -webkit-transform;
      transition-property: transform, opacity, color;
      transition-property: transform, opacity, color, -webkit-transform;
      -webkit-transition-duration: 0.55s, 0.55s, 0.3s;
              transition-duration: 0.55s, 0.55s, 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out;
              transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(1) a {
      -webkit-transition-delay: 0s, 0s, 0s;
              transition-delay: 0s, 0s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(2) a {
      -webkit-transition-delay: 0.05s, 0.05s, 0s;
              transition-delay: 0.05s, 0.05s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(3) a {
      -webkit-transition-delay: 0.1s, 0.1s, 0s;
              transition-delay: 0.1s, 0.1s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(4) a {
      -webkit-transition-delay: 0.15s, 0.15s, 0s;
              transition-delay: 0.15s, 0.15s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(5) a {
      -webkit-transition-delay: 0.2s, 0.2s, 0s;
              transition-delay: 0.2s, 0.2s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(6) a {
      -webkit-transition-delay: 0.25s, 0.25s, 0s;
              transition-delay: 0.25s, 0.25s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(7) a {
      -webkit-transition-delay: 0.3s, 0.3s, 0s;
              transition-delay: 0.3s, 0.3s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(8) a {
      -webkit-transition-delay: 0.35s, 0.35s, 0s;
              transition-delay: 0.35s, 0.35s, 0s; }
    /* line 115, ../scss/_desktop-nav.scss */
    .desktop-nav-content.desktop-is-active .desktop-nav-list .desktop-nav-item:nth-of-type(9) a {
      -webkit-transition-delay: 0.4s, 0.4s, 0s;
              transition-delay: 0.4s, 0.4s, 0s; }

/* line 125, ../scss/_desktop-nav.scss */
.desktop-nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 131, ../scss/_desktop-nav.scss */
.desktop-nav-item {
  overflow: hidden; }
  /* line 134, ../scss/_desktop-nav.scss */
  .desktop-nav-item a {
    display: inline-block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 450%;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform, opacity; }
    /* line 146, ../scss/_desktop-nav.scss */
    .desktop-nav-item a:hover {
      color: red; }

@media (max-height: 900px) {
  /* line 153, ../scss/_desktop-nav.scss */
  .desktop-nav-item a {
    font-size: 400%; } }
@media (max-height: 750px) {
  /* line 161, ../scss/_desktop-nav.scss */
  .desktop-nav-item a {
    font-size: 350%; } }
@media (max-height: 650px) {
  /* line 168, ../scss/_desktop-nav.scss */
  .desktop-nav-item a {
    font-size: 300%; } }
@media (max-width: 900px) {
  /* line 174, ../scss/_desktop-nav.scss */
  .desktop-nav {
    display: none; } }
/* line 179, ../scss/_desktop-nav.scss */
.desktop-bars-alt-style, .desktop-bars-alt-style:before, .desktop-bars-alt-style:after {
  background-color: white !important; }

/* line 1, ../scss/modals/_commit-modal.scss */
#view-latest-commit-trigger {
  width: 100%;
  height: 2.5%; }

/* line 5, ../scss/modals/_commit-modal.scss */
#latest-commit {
  font-size: 150%;
  font-family: 'Share Tech Mono', sans-serif;
  color: red; }
  /* line 9, ../scss/modals/_commit-modal.scss */
  #latest-commit a {
    color: red;
    text-decoration: underline; }

/* line 15, ../scss/modals/_commit-modal.scss */
#commit-modal-close svg path {
  fill: red !important; }

/* line 17, ../scss/modals/_commit-modal.scss */
.commit-modal {
  background-color: black !important; }

/* line 9, ../scss/modals/_modal-global.scss */
button {
  background-color: red;
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  font-size: 0.75em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1); }
  /* line 23, ../scss/modals/_modal-global.scss */
  button:hover {
    background: #f00000; }
  /* line 27, ../scss/modals/_modal-global.scss */
  button:focus {
    outline: none; }

/**
* Overlay
* -- only show for tablet and up
*/
@media only screen and (min-width: 40em) {
  /* line 39, ../scss/modals/_modal-global.scss */
  .modal-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
    /* line 55, ../scss/modals/_modal-global.scss */
    .modal-overlay.active {
      opacity: 1;
      visibility: visible; } }
/**
* Modal
*/
/* line 67, ../scss/modals/_modal-global.scss */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
  /* line 87, ../scss/modals/_modal-global.scss */
  .modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s; }
    /* line 97, ../scss/modals/_modal-global.scss */
    .modal .close-modal svg {
      width: 1.75em;
      height: 1.75em; }
  /* line 103, ../scss/modals/_modal-global.scss */
  .modal .custom-modal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: "row";
            flex-direction: "row";
    -webkit-box-pack: "center";
        -ms-flex-pack: "center";
            justify-content: "center";
    -webkit-box-align: "center";
        -ms-flex-align: "center";
            align-items: "center"; }
  /* line 111, ../scss/modals/_modal-global.scss */
  .modal.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
    /* line 116, ../scss/modals/_modal-global.scss */
    .modal.active .custom-modal-content {
      opacity: 1; }
    /* line 120, ../scss/modals/_modal-global.scss */
    .modal.active .close-modal {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 1; }

/**
* Mobile styling
*/
@media only screen and (max-width: 39.9375em) {
  /* line 133, ../scss/modals/_modal-global.scss */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: 0 !important; }

  /* line 145, ../scss/modals/_modal-global.scss */
  .close-modal {
    right: 20px !important; } }
/* line 7, ../scss/_landing-loader.scss */
.e-loadholder {
  width: 50vw;
  height: 50vh;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/* line 18, ../scss/_landing-loader.scss */
#particle-canvas {
  width: 50vw;
  height: 50vh;
  opacity: 1; }
  /* line 22, ../scss/_landing-loader.scss */
  #particle-canvas canvas {
    border-radius: 100%; }

/* line 26, ../scss/_landing-loader.scss */
#count-up-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  font-size: 250%;
  border-radius: 100%;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0; }

/* line 39, ../scss/_landing-loader.scss */
.fade-out-loader {
  -webkit-animation: FadeOutLoader 0.5s ease-in-out 0s forwards;
          animation: FadeOutLoader 0.5s ease-in-out 0s forwards; }

@-webkit-keyframes FadeOutLoader {
  100% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); } }

@keyframes FadeOutLoader {
  100% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); } }
/* line 45, ../scss/_landing-loader.scss */
.fade-in-home-text {
  -webkit-animation: FadeInHomeText 0.5s ease-in-out 0s forwards;
          animation: FadeInHomeText 0.5s ease-in-out 0s forwards; }

@-webkit-keyframes FadeInHomeText {
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }

@keyframes FadeInHomeText {
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
@media (max-width: 767.98px) {
  /* line 52, ../scss/_landing-loader.scss */
  .e-loadholder, #particle-canvas {
    width: 300px;
    height: 300px; } }
/* line 7, ../scss/_home.scss */
#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center"; }
  /* line 9, ../scss/_home.scss */
  #home .row {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: "row";
            flex-direction: "row";
    -webkit-box-pack: "center";
        -ms-flex-pack: "center";
            justify-content: "center";
    -webkit-box-align: "center";
        -ms-flex-align: "center";
            align-items: "center"; }
  /* line 15, ../scss/_home.scss */
  #home .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: "row";
            flex-direction: "row";
    -webkit-box-pack: "center";
        -ms-flex-pack: "center";
            justify-content: "center";
    -webkit-box-align: "center";
        -ms-flex-align: "center";
            align-items: "center"; }

/* line 20, ../scss/_home.scss */
#home-primary-text {
  color: red;
  font-family: "Raleway", sans-serif;
  font-size: 700%;
  margin: 0; }

/* line 26, ../scss/_home.scss */
#home-sub-text {
  color: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 250%;
  word-break: break-word;
  margin-top: 2%; }

/* line 34, ../scss/_home.scss */
.landing-fade-in {
  opacity: 0;
  -webkit-filter: blur(0px);
          filter: blur(0px); }

/* line 38, ../scss/_home.scss */
.home-sub-text-spanish-br, .home-sub-text-spanish-br2, .home-primary-text-br, .home-sub-text-br {
  display: none; }

/* line 41, ../scss/_home.scss */
.hide-second-row {
  display: none !important; }

/* line 44, ../scss/_home.scss */
.home-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
  -webkit-box-pack: "space-evenly";
      -ms-flex-pack: "space-evenly";
          justify-content: "space-evenly";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9); }

@media (max-width: 1579.98px) {
  /* line 51, ../scss/_home.scss */
  .home-sub-text-spanish-br {
    display: initial; }

  /* line 54, ../scss/_home.scss */
  .home-text-wrapper {
    margin-left: 5%; } }
@media (max-width: 1231px) {
  /* line 59, ../scss/_home.scss */
  .home-primary-text-br {
    display: initial; }

  /* line 62, ../scss/_home.scss */
  .home-sub-text-spanish-br2 {
    display: initial; }

  /* line 65, ../scss/_home.scss */
  .home-text-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  /* line 68, ../scss/_home.scss */
  #home-primary-text {
    font-size: 600%; } }
@media (max-width: 890px) {
  /* line 73, ../scss/_home.scss */
  #home-primary-text {
    font-size: 500%; }

  /* line 76, ../scss/_home.scss */
  #home-sub-text {
    font-size: 200%; }

  /* line 79, ../scss/_home.scss */
  .home-text-wrapper {
    margin-left: 0; } }
@media (max-width: 430px) {
  /* line 84, ../scss/_home.scss */
  #home-primary-text {
    font-size: 400%; }

  /* line 87, ../scss/_home.scss */
  #home-sub-text {
    font-size: 150%; }

  /* line 90, ../scss/_home.scss */
  .home-sub-text-br {
    display: initial; } }
/* line 1, ../scss/_home-logo.scss */
#logo-container {
  position: absolute;
  top: 4%;
  left: 10%;
  height: 65px;
  width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: "space-evenly";
      -ms-flex-pack: "space-evenly";
          justify-content: "space-evenly";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center"; }
  /* line 8, ../scss/_home-logo.scss */
  #logo-container div {
    height: 100%;
    width: 20%; }
  /* line 12, ../scss/_home-logo.scss */
  #logo-container .home-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    position: relative;
    cursor: pointer; }
    /* line 19, ../scss/_home-logo.scss */
    #logo-container .home-logo:hover {
      top: 5px;
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1); }
    /* line 23, ../scss/_home-logo.scss */
    #logo-container .home-logo:nth-of-type(1) {
      background-image: url("../styles/images/home-logos/black/codepenlogo.png"); }
      /* line 25, ../scss/_home-logo.scss */
      #logo-container .home-logo:nth-of-type(1):hover {
        background-image: url("../styles/images/home-logos/red/codepenlogo.png"); }
    /* line 29, ../scss/_home-logo.scss */
    #logo-container .home-logo:nth-of-type(2) {
      background-image: url("../styles/images/home-logos/black/githublogo.png"); }
      /* line 31, ../scss/_home-logo.scss */
      #logo-container .home-logo:nth-of-type(2):hover {
        background-image: url("../styles/images/home-logos/red/githublogo.png"); }
    /* line 35, ../scss/_home-logo.scss */
    #logo-container .home-logo:nth-of-type(3) {
      -webkit-transform: scale(1.15, 1.15);
              transform: scale(1.15, 1.15);
      background-image: url("../styles/images/home-logos/black/angellistlogo.png"); }
      /* line 38, ../scss/_home-logo.scss */
      #logo-container .home-logo:nth-of-type(3):hover {
        -webkit-transform: scale(1.25, 1.25);
                transform: scale(1.25, 1.25);
        background-image: url("../styles/images/home-logos/red/angellistlogo.png"); }
    /* line 44, ../scss/_home-logo.scss */
    #logo-container .home-logo:nth-of-type(4) {
      background-image: url("../styles/images/home-logos/black/linkedinlogo.png"); }
      /* line 46, ../scss/_home-logo.scss */
      #logo-container .home-logo:nth-of-type(4):hover {
        background-image: url("../styles/images/home-logos/red/linkedinlogo.png"); }

@media (max-width: 570px) {
  /* line 53, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 1.15);
    width: calc( 325px / 1.15); }
    /* line 56, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 470px) {
  /* line 62, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 1.25 );
    width: calc( 325px / 1.25 ); }
    /* line 65, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 432px) {
  /* line 71, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 1.45 );
    width: calc( 325px / 1.45 ); }
    /* line 74, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 392px) {
  /* line 80, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 1.65 );
    width: calc( 325px / 1.65 ); }
    /* line 83, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 356px) {
  /* line 89, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 1.75 );
    width: calc( 325px / 1.75 ); }
    /* line 92, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 340px) {
  /* line 98, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 1.85 );
    width: calc( 325px / 1.85 ); }
    /* line 101, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 328px) {
  /* line 107, ../scss/_home-logo.scss */
  #logo-container {
    height: calc( 65px / 2.00 );
    width: calc( 325px / 2.00 ); }
    /* line 110, ../scss/_home-logo.scss */
    #logo-container div {
      width: 20%; } }
@media (max-width: 310px) {
  /* line 116, ../scss/_home-logo.scss */
  #logo-container {
    display: none; } }
/* line 1, ../scss/_about.scss */
#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center"; }
  /* line 3, ../scss/_about.scss */
  #about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: "row";
            flex-direction: "row";
    -webkit-box-pack: "center";
        -ms-flex-pack: "center";
            justify-content: "center";
    -webkit-box-align: "center";
        -ms-flex-align: "center";
            align-items: "center"; }
    /* line 5, ../scss/_about.scss */
    #about .row .about-content {
      font-size: 150% !important;
      font-weight: bolder;
      -webkit-transform: scale(0.75, 0.75);
              transform: scale(0.75, 0.75);
      -webkit-filter: blur(10px);
              filter: blur(10px);
      opacity: 0; }
      /* line 11, ../scss/_about.scss */
      #about .row .about-content a {
        color: white !important;
        text-decoration: underline !important; }
        /* line 14, ../scss/_about.scss */
        #about .row .about-content a:hover {
          color: blue !important; }
    /* line 19, ../scss/_about.scss */
    #about .row [data-scroll] {
      -webkit-transition: all 1.5s ease;
      transition: all 1.5s ease; }
    /* line 22, ../scss/_about.scss */
    #about .row [data-scroll="in"] {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1; }

/* line 15, ../scss/main.scss */
.fade-out-old-language {
  -webkit-animation: FadeOutOldLanguage .5s ease-in-out 0s 1 forwards;
          animation: FadeOutOldLanguage .5s ease-in-out 0s 1 forwards; }

/* line 16, ../scss/main.scss */
.fade-in-new-language {
  -webkit-animation: FadeInNewLanguage .5s ease-in-out 0s 1 forwards;
          animation: FadeInNewLanguage .5s ease-in-out 0s 1 forwards; }

@-webkit-keyframes FadeOutOldLanguage {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); } }

@keyframes FadeOutOldLanguage {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); } }
@-webkit-keyframes FadeInNewLanguage {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
@keyframes FadeInNewLanguage {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
/* line 20, ../scss/main.scss */
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  min-width: 300px;
  overflow: hidden; }

/* line 29, ../scss/main.scss */
section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: auto;
  background: white; }
  /* line 35, ../scss/main.scss */
  section .section-header {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: red;
    position: absolute;
    top: 4%;
    left: 8%;
    font-size: 500%; }
    /* line 43, ../scss/main.scss */
    section .section-header p {
      color: red; }
  /* line 47, ../scss/main.scss */
  section:nth-of-type(even) {
    background: red; }
    /* line 49, ../scss/main.scss */
    section:nth-of-type(even) .section-header {
      color: white; }
    /* line 52, ../scss/main.scss */
    section:nth-of-type(even) p {
      color: white;
      font-family: 'Poppins', sans-serif;
      font-family: 'Raleway', sans-serif; }

@media (max-width: 900px) {
  /* line 60, ../scss/main.scss */
  .section-header {
    left: 15% !important;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important; } }
/* line 65, ../scss/main.scss */
.text--enter .char {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

/* line 69, ../scss/main.scss */
.text--enter [data-scroll='out'] .char {
  opacity: 0;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%); }

/* line 73, ../scss/main.scss */
.text .char {
  display: inline-block;
  -webkit-animation-delay: calc(0.25s + var(--char-index) * 0.25s);
          animation-delay: calc(0.25s + var(--char-index) * 0.25s);
  -webkit-transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
  transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s); }

/* line 79, ../scss/main.scss */
.splitting-clones {
  display: none; }

@media (max-width: 700px) {
  /* line 83, ../scss/main.scss */
  .section-header {
    font-size: 150% !important;
    left: 5% !important; } }
/* line 88, ../scss/main.scss */
.blinking-cursor-red {
  -webkit-animation: BlinkCursorRed 1s step-end infinite;
          animation: BlinkCursorRed 1s step-end infinite; }

@-webkit-keyframes BlinkCursorRed {
  from, to {
    color: transparent; }
  50% {
    color: red; } }

@keyframes BlinkCursorRed {
  from, to {
    color: transparent; }
  50% {
    color: red; } }

/*# sourceMappingURL=main.css.map */