#about {
    @include flex-config('row', 'center', 'center');
    .row {
        @include flex-config('row', 'center', 'center');
        .about-content {
            font-size: 150% !important;
            font-weight: bolder;
            transform: scale(.50, .50);
            filter: blur(10px);
            opacity: 0;
            a {
                color: white !important;
                text-decoration: underline !important;
                &:hover {
                    color: blue !important;
                }
            }
        }
        [data-scroll] {
            transition: all .5s ease;
        }
        [data-scroll="in"] {
            transform: scale(1, 1);
            filter: blur(0px);
            opacity: 1;
        }
        [data-scroll="out"] {
            //transform: scale(.75, .75);
            //filter: blur(10px);
            //opacity: 0;     
        }
    }

}
