#about {
    @include flex-config('row', 'center', 'center');
    .row {
        @include flex-config('row', 'center', 'center');
        .about-content {
            font-size: 145%;
            font-weight: bolder;
            padding: 0;
            transform: scale(.85, .85);
            filter: blur(10px);
            opacity: 0;
            a {
                color: white !important;
                text-decoration: underline !important;
                &:hover {
                    color: blue !important;
                }
            }
        }
        [data-scroll] {
            transition: all $section-fade-in-speed $section-fade-in-timing $section-fade-in-delay;
        }
        [data-scroll="in"] {
            transform: scale(1, 1);
            filter: blur(0px);
            opacity: 1;
        }
        [data-scroll="out"] {
            //transform: scale(.75, .75);
            //filter: blur(10px);
            //opacity: 0;     
        }
    }

}
#latest-commit {
    padding: 0 !important;
}
@media (max-width: 1400px) {
    .about-content {
        font-size: 135% !important;
    }
}
@media (max-width: 1000px) {
    .about-content {
        font-size: 130% !important;
    }
}
@media (max-width: 800px) {
    .about-content {
        font-size: 125% !important;
    }
 
}
@media (max-width: 769px) {
    .about-content {
        font-size: 120% !important;
        padding: 0 40px !important;
    }
 
}
@media (max-width: 701px) {
    .about-content {
        font-size: 115% !important;
        padding: 0 40px !important;
    }
}
@media (max-width: 650px) {
    .about-content {
        font-size: 92.5% !important;
    }
}
@media (max-width: 575px) {
    .about-content {
        font-size: 88% !important;
    }
}
@media (max-width: 500px) {
    .about-content {
        font-size: 82.5% !important;
    }
 
}
@media (max-width: 370px) {
    .about-content {
        font-size: 75% !important;
    }
 
}
@media (max-width: 350px) {
    .about-content {
        font-size: 65% !important;
    }
 
}