#articles {
    @include flex-config('center', 'center', 'center');
    .row {
        @include flex-config('center', 'center', 'center');
        width: 100%;
        ol {
            transform: scale(.85, .85);
            filter: blur(10px);
            opacity: 0;
            list-style-type: decimal;
            .article-list-item {
                font-size: 200%;
                margin: 35px 0;
                font-weight: bolder;
                color: red !important;
                font-family: 'Raleway', sans-serif;
                a {
                    color: red !important;
                    text-decoration: underline;
                    &:hover {
                        color: blue !important;
                    }
                }
            }
            &[data-scroll] {
                transition: all $section-fade-in-speed $section-fade-in-timing $section-fade-in-delay;
                transform: scale(.85, .85);
                filter: blur(10px);
                opacity: 0;
            }
            &[data-scroll="in"] {
                transform: scale(1, 1);
                filter: blur(0px);
                opacity: 1;
            }
            &[data-scroll="out"] {
                transform: scale(.85, .85);
                //filter: blur(10px);
                //opacity: 0;     
            }
        }

    }
}
@media (max-width: 767px) {
    .article-list-item {
        font-size: 150% !important;
    }
}
@media (max-width: 420px) {
    .article-list-item {
        font-size: 125% !important;
    }
}