$mobile-nav-font: 'Raleway', san-serif;
$orientation: 'bottom center';
@mixin base-font($size) {
    font-size: $size;
    font-family: $mobile-nav-font;
}
.mobile-menu-container {
    box-shadow: 0 10px 20px rgba(0,0,0,.20);
    background-color: red;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    position: fixed;
    height: 100px;
    width: 100px;
    right: 60px;
    bottom: 60px;
    transition: all 1s cubic-bezier(0.645,  0.045, 0.355, 1.000);
    z-index: 100;
    &.mobile-full-menu {
        border-radius: 0;
        padding: 0 !important;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: 1s cubic-bezier(0.645,  0.045, 0.355, 1.000);
    }
}
.mobile-full-menu .mobile-menu {
    top: 5%;
    left: 45px;
}
.mobile-menu {
    color: white;
    font-size: 2.75rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    transition: all 0.3s;
    i {
        opacity: 1; 
        transform: scale(1);
        transition: all $language-selector-color-change-time $language-selector-color-change-easing;
        color: white;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
            transition: all 0.3s;
        }
    }
}
.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    &.mobile-open {
        opacity: .9;
        visibility: visible;
        height: 100%;
        z-index: 100;
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
                animation-delay: .4s;
            }

            &:nth-of-type(3) {
                animation-delay: .45s;
            }

            &:nth-of-type(4) {
                animation-delay: .50s;
            }
        }
    }
    nav {
        @include base-font(3.2em);
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 400;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 
        li {
            display: block;
            height: 20%;
            height: calc(100% / 5);
            min-height: 50px;
            position: relative;
            opacity: 0;
            a {
                display: block;
                position: relative;
                color: white;
                text-decoration: none;
                overflow: hidden;
                opacity: 0.7;
                transform: scale(1);
                transition: all 0.3s;
                &:hover,
                &:focus,
                &:active {
                    opacity: 1;
                    transform: scale(1.2);
                    transition: all 0.3s;
                }
            }
        }
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        top: 0;
        left: 40px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
.odd-section-mobile-menu-colors {
    color: red !important;
}
.odd-section-mobile-menu-colors2 {
    background-color: white;
    a {
        color: red !important;
        &:hover {
            color: red !important;
        }
    }
}
@media (min-width: 900px) {
    .mobile-menu-container  {
        display: none;
    }
}
@media (max-height: 750px) {
    .mobile-overlay  {
        li {
            transform: scale(.75, .75);
        }
    }
    .hide-fullstack {
        display: none;
    }
}
@media (max-width: 700px) {
    .mobile-menu-container {
        height: 90px;
        width: 90px;
        right: 55px;
        bottom: 55px;
    }
    .mobile-menu {
        font-size: 2.5rem;       
    }
}
@media (max-width: 650px) {
    .mobile-menu-container {
        height: 80px;
        width: 80px;
        right: 50px;
        bottom: 52.5px;
    }
    .mobile-menu {
        font-size: 2.25rem;       
    }
}
@media (max-width: 650px) {
    .mobile-menu-container {
        height: 70px;
        width: 70px;
        right: 45px;
        bottom: 50px;
    }
    .mobile-menu {
        font-size: 2rem;       
    }
}
@media (max-width: 650px) {
    .mobile-menu-container {
        height: 70px;
        width: 70px;
        right: 40px;
        bottom: 47.5px;
    }
    .mobile-menu {
        font-size: 2.25rem;       
    }
}





