
#skills {
    @include flex-config("row", "center", "center");
    .row {
        @include flex-config("row", "center", "center");
        height: 40%;
        width: 100%;
    }
    table {
        width: 80%;
        margin-left: 2%;
        transform: scale(.50, .50);
        filter: blur(10px);
        opacity: 0;
        position: relative;
    }
    thead {
        background-color: rgba(red, 1);
        th {
            color: white;
        }
    }
    th {
        font-weight: bolder;  
    }
    th, td {
        font-family: 'Raleway', sans-serif;
        font-size: 20px !important;
        padding: .65%;
    }
    tr:nth-child(odd) {
        background-color: rgba(red, .10);
    }
    [data-scroll] {
        transition: all $section-fade-in-speed $section-fade-in-timing $section-fade-in-delay;
    }
    [data-scroll="in"] {
        transform: scale(1, 1);
        filter: blur(0px);
        opacity: 1;
    }
    [data-scroll="out"] {
        //transform: scale(.75, .75);
        //filter: blur(10px);
        //opacity: 0;     
    }
}
#mobile-table {
    height: auto;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 12%;
    width: 84%;
    padding-top: 10px;
    transform: scale(.50, .50);
    filter: blur(10px);
    opacity: 0;
    h1 {
        font-family: 'Raleway', sans-serif;
        color: red;
        padding: 20px 15px; 
        margin: 0 !important;
        font-size: 30px;
        transition: all ease .5s;
        span {
            transition: all ease .5s;
            position: absolute;
            right: 12px;
        }
    }
    ul {
        transition: all ease .5s;
        max-height: 0;
        overflow: hidden;
        margin-bottom: 6px;
        width: 100%;
        padding-left: 0;
        font-weight: bolder;
        li {
            list-style-type: none;
            color: red;
            font-family: 'Raleway', sans-serif;
            width: 100%;
            padding: 5px 30px;
            font-size: 20px;
            text-align: center;
            &:nth-child(odd) {
                background-color: rgba(red, .10);
            }
        }
    }
}
.mobile-table-content {
    width: 100%;
}
.open-mobile-table {
    span {
        display: inline-block;
        transform: rotate(90deg);
    }
}
.open-mobile-table + ul {
    max-height: 300px !important;
}
.non-select-mobile-table-above {
    padding: 7px 15px !important; 
}
.non-select-mobile-table-below {
    padding: 3px 15px !important; 
}
#mobile-table {
    [data-scroll] {
        transition: all $section-fade-in-speed $section-fade-in-timing $section-fade-in-delay;
    }
    [data-scroll="in"] {
        transform: scale(1, 1);
        filter: blur(0px);
        opacity: 1;
    }
    [data-scroll="out"] {
        //transform: scale(.75, .75);
        //filter: blur(10px);
        //opacity: 0;     
    }
}

@media (max-width: 1265px) {
    #skills {
        .table {
            position: relative !important;
            th, td {
                font-size: 18px !important;
            }
        }
        
    }
}
@media (max-width: 1188px) {
    #skills {
        .table {
            position: relative !important;
            th, td {
                font-size: 16px !important;
            }
        }
    }
}
@media (max-width: 500px) {
    #skills {
        h1 {
            font-size: 27.5px;
        }
    }
}
@media (max-width: 400px) {
    #skills {
        h1 {
            font-size: 22.5px;
        }
        ul {
            li {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 350px) {
    #skills {
        h1 {
            font-size: 19px;
        }
        ul {
            li {
                font-size: 13px;
            }
        }
    }

}

@media (max-width: 900px) {
    #skills {
        .table {
            display: none !important;
        }
        #mobile-table {
            @include flex-config('column', 'flex-start', 'flex-start');
        }
    }
}
@media (max-width: 760px) {
}

